html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.opaque-navbar {
    background-color: rgba(0,0,0,0);
    transition: background-color .5s ease 0s;
    box-shadow: 0 0 0 0;
    color: #000;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.opaque-navbar.opaque {
    background-color: rgba(16,29,131,1);
    transition: background-color .5s ease 0s;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    color: #000;
}

.parallax-top-fixed{
    margin-top: -70px;
}

.body{
    color:white;
    background-image: url('../images/background1.jpg');
}

label{
    font-size: 18px;
}

form{
  
  margin: auto;
  background-color: rgba(0,0,0,0.4);
  padding: 20px 20px;
  box-sizing: border-box;
  margin-top: 60px;
  border-radius: 10px;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(http://fonts.gstatic.com/s/materialicons/v21/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.pagination {
    align-items: center;
    text-align: center;
}